<%= form_for profile do |f| %>
  <%= error_messages_for profile %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <%= f.file_field :image %>
  </div>

  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
