<h2><%= @profile.full_name %></h2>
<%= link_to "Edit profile", edit_profile_path(current_user.profile), class: 'btn btn-xs' %>

<div class="friendships">
  <%= render "friendships/index" %>
  <%= render "shared/search_friend_modal" %>
  <%= render "friendships/pending_requests" %>
</div>
