<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= link_to "Back", user_path(current_user) %><br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "family-name" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autocomplete: "username" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <br>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br>
  <div class="field">
    <% if f.object.image.present? %>
      <%= profile_image_for(@user) %>
      <%#= image_tag f.object.image_url, class: "profile__picture" %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <%= f.file_field :image %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Update profile", class: "btn btn-primary" %>
  </div>
<% end %>
