<div class="wrapper">
  <% if params[:search].present? %>
    <h1>Search result</h1>
    <%= render partial: "wishes/form", locals: { search_term: params[:search] } %><br>
    <div class="movie-list">
      <% if @movies.any? %>
        <ul>
          <% @movies.each do |movie| %>
            <li class="movie">
              <div class="movie__poster">
                <%= image_tag poster_path(movie[:poster_path]), class: "movie__poster" %>
                <div class="movie__actions hide">
                  <button class="movie__actions__view">View</button>
                  <%= button_to "Add", wishes_path(movie_id: movie.id), {
                    method: :post,
                    class: "movie__actions__add",
                    form_class: "movie__actions__add-form"
                  } %>
                </div>
              </div>
              <p class="movie__details">
                <span class="movie__details__title"><%= movie.title %></span>
                <% if movie.year.present? %>
                  <span class="movie__details__year"><%= movie.year %></span>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h3>Sorry, no movies found.</h3>
      <% end %>
    </div>
  <% else %>
    <h3>No keywords specified.</h3>
  <% end %>
</div>