<div class="wrapper">
  <% if params[:search].present? %>
    <h1>Search result</h1>
    <%= render partial: "wishes/form", locals: { search_term: params[:search] } %><br>
    <div class="movie-list">
      <% if @movies.any? %>
        <ul>
          <% @movies.each do |movie| %>
            <li class="movie">
              <div class="movie__poster">
                <%= link_to movie_path(movie), remote: true do %>
                  <%= image_tag poster_path(movie[:poster_path]), class: "movie__poster" %>
                <% end %>
              </div>
              <p class="movie__details">
                <span class="movie__details__title"><%= movie.title %></span>
                <% if movie.year.present? %>
                  <span class="movie__details__year"><%= movie.year %></span>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h3>Sorry, no movies found.</h3>
      <% end %>
    </div>
  <% else %>
    <h3>No keywords specified.</h3>
  <% end %>
</div>

<div class="modal fade tabindex="-1" role="dialog" aria-labelledby="movie_details_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content movie-details-modal"></div>
  </div>
</div>