<div class="profile">
  <h2><%= @user.full_name %></h2>
  <%= profile_image_for(@user) %>

  <%= link_to "Edit profile", edit_user_registration_path, class: "small" %>

  <div class="profile__friendships">
    <%= render "friendships/index" %>
    <%= render "shared/search_friend_modal" %>
    <%= render "friendships/pending_requests" %>
  </div>
</div>
