<div class="profile__cover">
  <div class="clearfix wrapper">
    <% if @user == current_user %>
      <%= link_to "edit profile", edit_user_registration_path, class: "edit_profile_link" %>
    <% end %>

    <%= profile_image_for(@user) %>
    <div class="profile__info">
      <span class="profile__info__name"><%= @user.full_name %></span>
      <span class="profile__info__username">@<%= @user.username %></span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="movie-list movie-list--wishlist">
    <h3><%= @user == current_user ? "Your" : "#{@user.first_name}'s"  %> Watchlist</h3>
    <% if @wishes.any? %>
      <ul>
        <% @wishes.each do |wish| %>
          <% movie = wish.movie %>
          <li class="movie" data-wish-id="<%= wish.id %>">
            <div class="movie__poster">
              <%= image_tag poster_path(movie[:poster_path]), class: "movie__poster" %>
              <div class="movie__actions hide">
                <button class="movie__actions__view">View</button>
                <%= button_to "Remove", wish_path(wish), {
                  method: :delete,
                  remote: true,
                  class: "movie__actions__remove",
                  form_class: "movie__actions__remove-form"
                } %>
              </div>
            </div>
            <p class="movie__details">
              <span class="movie__details__title"><%= movie.title %></span>
              <% if movie.year.present? %>
                <span class="movie__details__year"><%= movie.year %></span>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <br>
  <div class="friendships">
    <h3><%= @user == current_user ? "Your" : "#{@user.first_name}'s"  %> Friends</h3>
    <ul class="friends">
      <% @friends.each do |friend| %>
          <li>
            <%= link_to user_path(friend) do %>
              <%= profile_image_for(friend) %>
              <p><%= friend.full_name %></p>
            <% end %>
          </li>
      <% end %>
    </ul>

    <% if @user == current_user %>
      <%= render "shared/search_friend_modal" %>
      <%= render "friendships/pending_requests" %>
      <br><br>
    <% end %>
  </div>
</div>


<div class="watchlist-actions-wrapper">
  <div class="watchlist-actions">
    <button class="watchlist-actions__view-details">Movie details</button>
    <button class="watchlist-actions__remove">Remove Movie</button>
    <button class="watchlist-actions__close">Cancel</button>
  </div>
</div>