<span class="mobile-menu-button">Menu</span>
<nav class="main-nav is-hidden-mobile">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "Your wishlist", wishes_path %></li>
      <li><%= link_to "Add movie", new_wish_path %></li>
      <li><%= link_to "Quick match", new_match_path %></li>
      <li><%= link_to "Your profile", user_path(current_user.id) %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<script>
  $('.mobile-menu-button').click(function() {
    $('.main-nav').toggleClass("is-hidden-mobile");
  });
</script>
