<%= link_to("Add a new friend", "#", class: "btn btn-primary btn-sm", data: { toggle: "modal", target: "#search-friend-modal" }) %>
<div class="modal fade" id="search-friend-modal" tabindex="-1" role="dialog" aria-labelledby="search_friend_form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new friend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_with(url: users_path, local: true, method: :get) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :q, "Search for:" %>
            <%= f.text_field :q, placeholder: "Friend name", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button "Search", name: nil, class: "btn btn-primary" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
