<div class="wrapper">
  <h1>Match your friend's movies!</h1>

  <% if @friends.any? %>
    <p>Select one or more friends to see which movies you both want to watch!</p>
    <%= form_tag match_path, method: "get" do %>
      <% @friends.each do |user| %>
        <p>
          <%= check_box_tag "users_ids[]", user.id, false, id: "user_#{user.id}" %>
          <%= label_tag "user_#{user.id}", user.full_name %>
        </p>
      <% end %>

      <%= submit_tag "See matching movies!", name: nil %>
    <% end %>
  <% else %>
    <p>Add some friends <%= link_to "from your profile page", user_path(current_user.id) %> to see which movies you both want to watch!</p>
  <% end %>
</div>
