<!DOCTYPE html>
<html>
  <head>
    <title>Movienight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__inner wrapper">
        <%= link_to 'Movienight', root_path, class: "site-title" %>
      </div>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" do %>
        <%= content_tag :div, value, class: "flash__content wrapper" %>
      <% end %>
    <% end %>

    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
