<!DOCTYPE html>
<html>
  <head>
    <title>Movienight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__inner wrapper">
        <%= link_to 'MovieNight', root_path, class: "site-title" %>
        <nav class="main-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "Your wishlist", wishes_path %></li>
              <% if current_user.profile  %>
                <li><%= link_to "Your profile", profile_path %></li>
              <% end %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= render "shared/flash_messages" %>
    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
