<!DOCTYPE html>
<html>
  <head>
    <title>Movienight</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__inner wrapper">
        <%= link_to 'MovieNight', root_path, class: "site-title" %>
        <%= render "shared/menu" %>
      </div>
    </header>
    <%= render "shared/flash_messages" %>
    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
